In [1]:
# Python ≥3.5 is required
import sys
assert sys.version_info >= (3, 5)

# Scikit-Learn ≥0.20 is required
import sklearn
assert sklearn.__version__ >= "0.20"

# Common imports
import numpy as np
import os
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

# To plot pretty figures
%matplotlib inline
import matplotlib as mpl
import matplotlib.pyplot as plt
mpl.rc('axes', labelsize=14)
mpl.rc('xtick', labelsize=12)
mpl.rc('ytick', labelsize=12)


# to make this notebook's output stable across runs
np.random.seed(42)

In [5]:
import matplotlib.pyplot as plt
import pandas as pd

# read data from CSV file to dataframe
words = pd.read_csv("../rawdata/unigram_freq.csv")
answers = pd.read_csv("../rawdata/answers.csv")
other_word = pd.read_csv("../rawdata/other_words.csv")
print("Data Loaded")

Data Loaded

In [6]:
# make sure you understand the type of the object
print(type(words))
print(type(answers))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.frame.DataFrame'>

In [7]:
# check the top five and the bottom five data tuples
display(words.head())
display(words.tail())
display(words.shape)

display(answers.head())
display(answers.tail())
display(answers.shape)

display(other_word.head())
display(other_word.tail())
display(other_word.shape)

  word        count
0  the  23135851162
1   of  13151942776
2  and  12997637966
3   to  12136980858
4    a   9081174698

           word  count
333328    gooek  12711
333329   gooddg  12711
333330  gooblle  12711
333331   gollgo  12711
333332    golgw  12711

(333333, 2)

   cigar
0  rebut
1  sissy
2  humph
3  awake
4  blush

      cigar
2309  judge
2310  rower
2311  artsy
2312  rural
2313  shave

(2314, 1)

   aahed
0  aalii
1  aargh
2  aarti
3  abaca
4  abaci

       aahed
10651  zuzim
10652  zygal
10653  zygon
10654  zymes
10655  zymic

(10656, 1)

In [8]:
#Joining the dataset together
df_other = other_word.join(words.set_index('word'), on='word')
df_ans = answers.join(words.set_index('word'), on='word')

KeyError: 'word'

In [ ]:
#Displaying other word data
display(df_other.head())
display(df_other.tail())
display(df_other.describe())
df_other.info()

In [ ]:
#Displaying answers data
display(df_ans.head())
display(df_ans.tail())
display(df_ans.describe())
df_ans.info()

In [ ]:
#Normalizing the count in the word
df_other['Normalized_count'] = (df_other['count'] - df_other['count'].min()) / (df_other['count'].max() - df_other['count'].min())

#Printing the head
display(df_other.head())

In [ ]:
#Sortting the values by normalized count
df_other = df_other.sort_values(by=['Normalized_count'], ascending = False)

#Printing the head
display(df_other.head())

In [ ]:
#Normalizing the count in the word
df_ans['Normalized_count'] = (df_ans['count'] - df_ans['count'].min()) / (df_ans['count'].max() - df_ans['count'].min())

#Printing the head
display(df_ans.head())